
* {
  -webkit-box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

#h_charlottecutler {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  column-span: all;
}



.container {
    background-color: lemonchiffon;
    border-color: black;
    border-style: double;
    border-width: 10px;
    margin: 10px;
    height: 950px;
}

.contact {
  column-span: all;
  text-align: center;
}


.content {
  margin-left: 20px;
  margin-right: 20px;
}

.column1 {
  width: 50%;
  float: left;
}

.column2 {
  width: 40%;
  float: right;
}

#h_professionalexperience {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 120%;
}

#h_volunteering {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 120%;
}


#h_education {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 120%;
  grid-area: A;
}

#h_interests {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 120%;
}
